<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}">
<head>
    <title>Category</title>
</head>

<body>
<div layout:fragment="container" class="container-fluid mt-5">
    <div>
        <a href="/admin/category/category-create" class="btn btn-primary btn-sm">Create</a>
    </div>
    <table class="table table-striped ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody >
        <tr th:each="category : ${categories}">
            <th th:text="${category.id}"></th>
            <td th:text="${category.name}"></td>
            <td>
                <a class="btn btn-outline-warning btn-sm">Update</a>
                <button th:onclick="'remove('+${category.id}+')'" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
        </tr>


        </tbody>
    </table>
</div>

<th:block layout:fragment="myScript">
    <script>
        function remove(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                    window.location="/admin/category/remove/"+id;
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire({
                        title: "Cancelled",
                        text: "Your imaginary file is safe :)",
                        icon: "error"
                    });
                }
            });
        }
    </script>

</th:block>
</body>

</html>


