<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div id="wrapper">
    <header class="tech-header header" th:fragment="navbar">
        <div class="container-fluid">
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="tech-index.html"><img src="/images/version/tech-logo.png" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
                            <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                <li>
                                    <div class="container">
                                        <div class="mega-menu-content clearfix">
                                            <div class="tab" >
                                                <button class="tablinks" th:each="category, iterStat : ${navItems}"
                                                        th:classappend="${iterStat.index == 0} ? ' active'"
                                                        th:onclick="'openCategory(event, \'cat' + ${category.id} + '\')'"
                                                        th:text="${category.name}">
                                                </button>
                                            </div>



                                            <div class="tab-details clearfix" >
                                                <div th:id="'cat' + ${article.category.id}"  th:each="article, iterStat : ${articleItems}"  class="tabcontent" th:classappend="${iterStat.index == 0} ? ' active'">
                                                    <div class="row" >
                                                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"  >
                                                            <div class="blog-box" >
                                                                <div class="post-media" >
                                                                    <a href="tech-single.html" title=""  >
                                                                        <img th:src="${article.photoUrl}" alt="" class="img-fluid" style="height: 130px;">
                                                                        <div class="hovereffect">
                                                                        </div><!-- end hover -->
                                                                        <span class="menucat" th:text="${article.title}" >Keris</span>
                                                                    </a>
                                                                </div><!-- end media -->
                                                                <div class="blog-meta">
                                                                    <h4><a href="tech-single.html" title="">Top 10+ care advice for your toenails</a></h4>
                                                                </div><!-- end meta -->
                                                            </div><!-- end blog-box -->
                                                        </div>


                                                    </div><!-- end row -->
                                                </div>

                                            </div><!-- end tab-details -->
                                        </div><!-- end mega-menu-content -->
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gadgets">Gadgets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/videos">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reviews">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div><!-- end container-fluid -->
    </header>
</div>
</body>
</html>