<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title> List</title>
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->

<!--    <link rel="stylesheet" th:href="@{/css/responsive.css}">-->

<!--    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">-->

<!--    <link rel="stylesheet" th:href="@{/css/colors.css}">-->

<!--    <link rel="stylesheet" th:href="@{/css/version/tech.css}">-->






<!--    &lt;!&ndash; Version Tech CSS for this template &ndash;&gt;-->
<!--    <link th:href="@{css/version/tech.css}" rel="stylesheet">-->
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <!-- Page Header-->
        my detail
    </section>
</main>
</body>
</html>