<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Tech</title>
</head>
<body>
<main>
  <section layout:fragment="body">
      <section class="section first-section">
          <div class="container-fluid" >
              <div class="masonry-blog clearfix" >
                  <div class="second-slot" th:each="article, iterStat : ${articles}">
                      <div class="masonry-box post-media" th:if="${iterStat.index > 1 && iterStat.index < 6}" >
                          <img th:src="${article.photoUrl}" alt="" class="img-fluid">
                          <div class="shadoweffect" >
                              <div class="shadow-desc">
                                  <div class="blog-meta">
                                      <span class="bg-orange"><a href="tech-category-01.html" title="" th:text="${article.category.name}">Technology</a></span>
                                      <h4><a th:href="'/detail/'+${article.id}+'/'+ ${article.seoUrl}" title="">Say hello to real handmade office furniture! Clean & beautiful design</a></h4>
                                      <small><a th:text="${#dates.format(article.createdDate, 'dd MMMM, yyyy')}" title="">24 July, 2017</a></small>
                                      <small><a th:text="${article.user.firstname}" title="">by Amanda</a></small>
                                  </div><!-- end meta -->
                              </div><!-- end shadow-desc -->
                          </div><!-- end shadow -->
                      </div><!-- end post-media -->
                  </div><!-- end first-side -->


              </div><!-- end masonry -->
          </div>
      </section>
      <section class="section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                      <div class="page-wrapper">
                          <div class="blog-top clearfix">
                              <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                          </div><!-- end blog-top -->

                          <div class="blog-list clearfix" th:each="article : ${articles}">
                              <div class="blog-box row"  >
                                  <div class="col-md-4">
                                      <div class="post-media">
                                          <a href="tech-single.html" title="">
                                              <img alt="" class="img-fluid" th:src="${article.photoUrl}" >
                                              <div class="hovereffect"></div>
                                          </a>
                                      </div><!-- end media -->
                                  </div><!-- end col -->

                                  <div class="blog-meta big-meta col-md-8">
                                      <h4><a th:href="'/detail/'+${article.id}+'/'+ ${article.seoUrl}" title="" th:text="${article.title}"></a></h4>
                                      <p th:text="${article.subTitle}"></p>
                                      <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="" th:text="${article.category.name}"></a></small>
                                      <small><a href="tech-single.html" title="" th:text="${#dates.format(article.createdDate, 'dd MMMM, yyyy')}"></a></small>
                                      <small><a href="tech-author.html" title="" th:text="${article.user.firstname}"></a></small>
                                      <small><a href="tech-single.html" title="" th:text="${article.viewCount}"><i class="fa fa-eye"></i></a></small>
                                  </div><!-- end meta -->
                              </div><!-- end blog-box -->

                              <hr class="invis">

                          </div><!-- end blog-list -->
                      </div><!-- end page-wrapper -->

                      <hr class="invis">

                      <div class="row">
                          <div class="col-md-12">
                              <nav aria-label="Page navigation">
                                  <ul class="pagination justify-content-start">
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item">
                                          <a class="page-link" href="#">Next</a>
                                      </li>
                                  </ul>
                              </nav>
                          </div><!-- end col -->
                      </div><!-- end row -->
                  </div><!-- end col -->

                  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                      <div class="sidebar">
                          <div class="widget">
                              <div class="banner-spot clearfix">
                                  <div class="banner-img">
                                      <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                                  </div><!-- end banner-img -->
                              </div><!-- end banner -->
                          </div><!-- end widget -->


                          <div class="widget">
                              <h2 class="widget-title">Popular Posts</h2>
                              <div class="blog-list-widget">
                                  <div class="list-group" th:each="view :${mostViews}" >
                                      <a th:href="'/detail/'+${view.id}+'/'+ ${view.seoUrl}" class="list-group-item list-group-item-action flex-column align-items-start">
                                          <div class="w-100 justify-content-between">
                                              <img th:src="${view.photoUrl}"  alt="" class="img-fluid float-left">
                                              <h5 th:text="${view.title}" class="mb-1">5 Beautiful buildings you need..</h5>
                                              <small th:text="${#dates.format(view.createdDate, 'dd MMMM, yyyy')}" >12 Jan, 2016</small>
                                          </div>
                                      </a>


                                  </div>
                              </div><!-- end blog-list -->
                          </div><!-- end widget -->

                          <div class="widget">
                              <h2 class="widget-title">Recent Reviews</h2>
                              <div class="blog-list-widget">
                                  <div class="list-group" th:each="view : ${recentViewArticles}">
                                      <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                          <div class="w-100 justify-content-between">
                                              <img th:src="${view.photoUrl}" alt="" class="img-fluid float-left">
                                              <h5 class="mb-1" th:text="${view.title}">Banana-chip chocolate cake recipe..</h5>

                                          </div>
                                      </a>


                                  </div>
                              </div><!-- end blog-list -->
                          </div><!-- end widget -->

                          <div class="widget">
                              <h2 class="widget-title">Follow Us</h2>

                              <div class="row text-center">
                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                      <a href="#" class="social-button facebook-button">
                                          <i class="fa fa-facebook"></i>
                                          <p>27k</p>
                                      </a>
                                  </div>

                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                      <a href="#" class="social-button twitter-button">
                                          <i class="fa fa-twitter"></i>
                                          <p>98k</p>
                                      </a>
                                  </div>

                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                      <a href="#" class="social-button google-button">
                                          <i class="fa fa-google-plus"></i>
                                          <p>17k</p>
                                      </a>
                                  </div>

                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                      <a href="#" class="social-button youtube-button">
                                          <i class="fa fa-youtube"></i>
                                          <p>22k</p>
                                      </a>
                                  </div>
                              </div>
                          </div><!-- end widget -->

                          <div class="widget">
                              <div class="banner-spot clearfix">
                                  <div class="banner-img">
                                      <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                                  </div><!-- end banner-img -->
                              </div><!-- end banner -->
                          </div><!-- end widget -->
                      </div><!-- end sidebar -->
                  </div><!-- end col -->
              </div><!-- end row -->
          </div><!-- end container -->
      </section>
  </section>


</main>
</body>
</html>