<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org" lang="en">

<!-- Basic -->
<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Tech Blog - Stylish Magazine Blog Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet">

    <!-- Colors for this template -->
    <link th:href="@{/css/colors.css}" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link th:href="@{/css/version/tech.css}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<header th:replace="~{fragments/navbar}"></header>
<body layout:fragment="body">
ssss
</body>
<footer th:replace="~{fragments/footer}"></footer>


<!-- Core JavaScript
================================================== -->


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/tether.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript"></script>
<script th:block="myScript"></script>
<th:block layout:fragment="myScript"></th:block>
</html>